<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737098801057-95u632j5aurd5lbmo00opai2do5mtauh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737098801057-95u632j5aurd5lbmo00opai2do5mtauh</string>
	<key>API_KEY</key>
	<string>AIzaSyB_pZEPpZBbg8fRYC2bLu3MeD1O5lGzV9U</string>
	<key>GCM_SENDER_ID</key>
	<string>737098801057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sannyling</string>
	<key>PROJECT_ID</key>
	<string>sannyling-757c6</string>
	<key>STORAGE_BUCKET</key>
	<string>sannyling-757c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737098801057:ios:f89236208c4d4b9f75b5e0</string>
</dict>
</plist>